<div class="container styel">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group size">
            <label for="author">Author</label>
            <input required name="author" [(ngModel)]='newQuote.author' #author='ngModel' id="author" type="text"
                placeholder="Name..." class="form-control r">
        </div>
        <div class="form-group">
            <label for="comment">comment</label>
            <textarea name="comment" id="comment" cols="0" rows="6" [(ngModel)]='newQuote.quote' #comment='ngModel'
                placeholder="write a quote..." class="form-control required"></textarea>
        </div>
        <div class="form-group">
            <label for="submittedby">submitted</label>
            <input id="submittedby" name="submittedby" type="text" [(ngModel)]='newQuote.submittedBy'
                #submittedby='ngModel' placeholder="submitted by..." class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
        <br>
        <button type="button" (click)="upVotes()" class="btn btn-primary"> {{ numOfLikes }} upvotes</button>
        <br>
        <br>
        <button type="button" (click)="dislikes()" class="btn btn-primary">{{ numOfDislikes }} downvote</button>
    </form>
</div>